<launch>
<!-- rosbag -->
<node pkg="rosbag" type="play" name="player"  args="$(find sync_data)/input_new.bag"/>
<!-- lidar_imu.bag"/> -s 264 -u 90 -->
	
<!-- Synchronizer Node -->
<node name="synchronizer_node" pkg="sync_data"
  type="synchronizer_node" required="true" output="screen"></node>

</launch>
